# Database Configuration
DB_HOST=db
DB_NAME=ecomDB
DB_USER=ecom_admin
DB_PASS=#Adm1n_0WN3R

# Domain name for Caddy SSL / HTTPS Setup
DOMAIN=localhost

# Ports for Caddy reverse proxy
# Change these to 80 and 443 on your production Droplet!
HTTP_PORT=8080
HTTPS_PORT=8443
