<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Soft Rewrite: Internally route clean extensionless URLs to their corresponding .php files
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.php -f
    RewriteRule ^(.*)$ $1.php [L,QSA]
</IfModule>
